html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1000px;
    margin: auto;

    /*font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/
}
.row{
    width: 100%;
}

.row::after{
    content: '';
    display: block;
    clear: both;
}
[class*="col-"]{
    float: left;
    padding: 15px;
}
[class*="col-"]{
    width: 100%;
}
/*header*/
header{
    background-color: #24a19c;
    padding: 0% 1%;
    text-align: center;
}
.logo{
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: white;
    border-radius: 50%;
    border: 2px white  solid;
    padding-top: 10px;
}
nav ul li{
    display: block;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: aliceblue;
    line-height: 70px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
  transition: .4s;
}
nav ul li a:hover{
    border-radius: 10px;
    background-color: black;
}
/*banner*/
#banner-section{
   background-image: url(./public/istockphoto-1316145932-1024x1024.jpg); 
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.banner-contents{
    padding: 50px 10px;
    text-align: center;
}
.banner-contents h1{
    width: 100%;
    margin: 15px auto;
    font-size: 3.5rem;
    background: rgba(255,255,0,0.884);
    padding: 10px;
    border-radius: 5px;
    font-family: 'Handlee', cursive;
}
.banner-contents p{
    width: 300px;
    margin: 15px auto;
    background: rgb(0,128,0);
    padding: 10px;
    color: white;
    font-size: 1.5rem;
}
.btn{
    width: 160px;
    padding: 10px;
    font-size: 2.5rem;
    background: #24a19c;
    border-radius: 5px;
    border: 2p black solid;
    text-transform: uppercase;
    color: white;
    transition: .4s;
}
.btn:hover{
    background-color: cadetblue;
    transform: scale(1.2);
    cursor: pointer;
}
/*about us*/
#about-us{
    padding: 1%;
}
.about-us-contents{
    text-align: center;
}
.about-us-contents h1{
   font-size: 2rem; 
   margin-bottom: 10px;
   font-weight: bolder;
}
.about-us-contents p{
   font-size: 0.8rem; 
   margin-bottom: 10px;
}
/*food*/
#menu-section{
   padding: 1%; 
}
.card-body{
    text-align: center;
}
.card-body img{
    max-width: 100%;
    height: auto;
    display: block;
}
.item-desc{
    background-color: bisque;
}
.item-name{
    background-color: green;
    color: white;
    padding: 10px;   
}
.item-desc >p{
    font-size: 0.8rem;
    padding: 10px;
    font-weight: bold;
}
.card{
   transition: o.4s; 
}
.card:hover{
    transform: scale(1.2);
}
/*contact*/
#contact{
    padding: 1%;
    background: #595b83;
}
.map{
    width: 100%;
    height: 250px;
}
.contact-details{
    color: white;
    text-align: center;
    padding: 20px 0;
}
.contact-details p,address{
    font-size: 0.8rem;
}
/*footer*/
footer{
    padding: 1%;
    color: white;
    background: #060930;
}
footer p{
    line-height: 32px;
    font-size: 0.8rem;
    text-align: center;
}
.social-menus{
    text-align: center;
}
.icon-style{
  color: white;
  width: 32px; 
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0 10px;
  transition: .4s;
  text-align: center;
}
.icon-style:hover{
    background-color: #595b83;
    transform: scale(1.2);
}

/*small*/
@media(min-width:576px){
 .col-sm-1 {width: 8.33%;}
      .col-sm-2 { width: 16.66%;}
      .col-sm-3 {width: 25%;}
      .col-sm-4 {width: 33.33%;}
      .col-sm-5 {width: 41.66%}
      .col-sm-6 { width: 50%;}
      .col-sm-7 {width: 58.33%; }
      .col-sm-8 {width: 66.66%;}
      .col-sm-9 { width: 75%; }
      .col-sm-10 {width: 83.33%;}
      .col-sm-11 {width: 91.66%;}
      .col-sm-12 {width: 100%; }
}
/*mediam*/
@media (min-width:768px){
     .col-md-1 {width: 8.33%;}
      .col-md-2 { width: 16.66%;}
      .col-md-3 {width: 25%;}
      .col-md-4 {width: 33.33%;}
      .col-md-5 {width: 41.66%}
      .col-md-6 { width: 50%;}
      .col-md-7 {width: 58.33%; }
      .col-md-8 {width: 66.66%;}
      .col-md-9 { width: 75%; }
      .col-md-10 {width: 83.33%;}
      .col-md-11 {width: 91.66%;}
      .col-md-12 {width: 100%; }
}
/*large*/
@media (min-width:992px){
    .logo-div{
        text-align: left;
    }
    nav ul{
        text-align: right;
    }
    nav ul li{
        display: inline-block;
    }
    nav ul li a{
        display: inline-block;
        transition: .4s;
    }
    nav ul li a:hover{
       background-color: transparent;
       transform: scale(1.2); 
       text-decoration: underline;
       border-radius: 0;
    }


    #banner-section{
        position: relative;
        height: 100vh;
    }
    .banner-contents{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);     
    }
    .banner-contents h1{
        width: 700px;
        font-size: 3.5rem;
    }
    .banner-contents p{
        width: 500px;
        font-size: 2rem;
    }



    footer p{
        text-align: left;
    }
    .social-menus{
        text-align: right;
    }
     .col-lg-1 {width: 8.33%;}
      .col-lg-2 { width: 16.66%;}
      .col-lg-3 {width: 25%;}
      .col-lg-4 {width: 33.33%;}
      .col-lg-5 {width: 41.66%}
      .col-lg-6 { width: 50%;}
      .col-lg-7 {width: 58.33%; }
      .col-lg-8 {width: 66.66%;}
      .col-lg-9 { width: 75%; }
      .col-lg-10 {width: 83.33%;}
      .col-lg-11 {width: 91.66%;}
      .col-lg-12 {width: 100%; }
} 
    
